---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Resume</div>
  </div>

  <div class="mb-10 text-justify">
    Seeking a Student Accounting position at OMERS, where I can leverage my
    accounting education and analytical skills to contribute to the
    organization's financial operations and strategic initiatives while gaining
    valuable experience in a professional environment.

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="University of Waterloo"
        subtitle="2023 to 2028 [Combinators + Optimisation , Statistics , Pure Mathematics , Econ-Minor] "
      />
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
      <TimeLineElement
        title="NGO Synergy {Technical-Research Analyst}"
        subtitle="Aug-2022 | Feb 2023"
      >
        ●Recommended modifications or changes to strategies based on research
        results. <br />
        ● Utilized workflow software to assign and manage research projects. <br
        />● Screened potential subjects to determine suitability for studies.<br
        /> ● Categorized and cataloged each piece of data into business database.
        <br />● Conducted market research and analyzed data to identify trends,
        opportunities, and potential risks. <br />● Monitored current events and
        emerging trends in order to keep abreast with changes in the
        marketplace. <br />● Analyzed complex datasets utilizing advanced
        analytics techniques such as regression analysis and predictive
        modeling.<br /> ● Performed statistical analysis of survey data using SPSS
        software.
      </TimeLineElement>
      <TimeLineElement
        title="Business Owner [Online Business Store]"
        subtitle="Jan 2022 | Aug 2022"
      >
        ● Scaled Webstore reselling clothing and gaming objects <br />● MRR
        $2000+ <br />● Scaled the business to over 700+ customers <br />● Used
        Facebook , Twitter and Instagram Ad-sets for marketting
      </TimeLineElement>
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Bash Script</li>
      <li>Java</li>
      <li>Python</li>
      <li>AWS/HEROKU/GIT</li>
      <li>Unity</li>
      <li>SQL</li>
      <li>Lua for NVIM / VIM</li>
      <li>Latex</li>
      <li>Racket</li>
    </ul>
  </div>
</BaseLayout>
