---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Darsh Agarwala</div>
    <div class="text-3xl py-3 font-bold">
      Combinators + Optimisation + Statistics + Pure Mathematics & Econ-Minor
    </div>
    <div class="py-2">
      <text class="text-lg">
        Seeking a <b>Student Accounting </b> position and Co-op Internships , where
        I can leverage my accounting education and Technical analytical skills -
        contributing to the organization's financial operations and strategic initiatives
        while gaining valuable experience in a professional environment.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/darsh-agarwalla-91026625b/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">{"</>"} Projects</div>
  </div>

  <HorizontalCard
    title="Public News Net , Self Employed"
    img="/bobo.png"
    desc="used RUBY on RAILS to make open source NEWSNET project for highschool students and connect to each other and share information across country massing over 450+ registered clients"
    url="https://github.com/asdfghjA1/BOBO"
    badge="Taken down due to HEROKU policy"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="VScode Theme {Gruvbox Dark}"
    img="/gruv.png"
    desc="Made a custom VScode extention for a colourtheme that i always was looking for so made it formyself and now shared published it for everyone to use"
    url="https://marketplace.visualstudio.com/items?itemName=Whiteye-T43.dark-gruvbox"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">⚙️Work Experience</div>
  </div>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="NGO Synergy"
    badge="Technical-Research Analyst"
    img="/synergy.png"
    desc="Helped improve frontend and gain insights about data transfer protocol with real world experience and learned how to make industry PRODUCTION READY CODE"
    url="https://synergyindia.foundation/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Business Owner"
    badge="Self-Employed (Jan 2022 - Aug 2022)"
    img="/cd.png"
    desc="Scaled Webstore reselling clothing and gaming objects to 700+ sales ($2000+ MRR) with affordable margin and userfriendly experience. "
    url=""
  />
</BaseLayout>
